services:
  db:
    image: postgis/postgis:16-3.4
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  web:
    build:
      context: ./backend
    env_file:
      - .env
    environment:
      # Django config
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DJANGO_DEBUG: ${DJANGO_DEBUG}
      DJANGO_ALLOWED_HOSTS: ${DJANGO_ALLOWED_HOSTS}

      # DB connection for Django (IMPORTANT: host is "db" inside Compose network)
      POSTGRES_HOST: db
      POSTGRES_PORT: "5432"
    ports:
      - "${DJANGO_PORT}:8000"
    volumes:
      - ./backend:/app
      - ./backend/media:/app/media
    depends_on:
      - db

volumes:
  pgdata:
