body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin: 10px 0;
}

#map {
    height: 600px;
    width: 100%;
}

/* Popup styling */
.leaflet-popup-content img {
    width: 100%;
    height: auto;
    margin-top: 5px;
    border-radius: 6px;
}
