{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Campus Map</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'map/map.css' %}">
</head>
<body>

<h2>Campus Landmarks</h2>

<div id="map"></div>

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<!-- Custom JS -->
<script src="{% static 'map/map.js' %}"></script>

</body>
</html>
